comments-page{
    .innerList{
        margin-left: 50px;

        ion-avatar{
            margin-right: 0px !important;
        }
       ion-avatar>img{
           width: 30px;
           height: auto;
           margin: 0px !important;
       }
       h2, p{
        font-size: 80%;
        margin: 0px !important;
       }
    }
    
}